# Configure dependabot automatic version upgrades
# https://help.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: maven
    directory: "/"
    open-pull-requests-limit: 1
    schedule:
      interval: daily
      time: "04:30"
      timezone: America/New_York
    labels:
      - dependencies
    ignore:
      - dependency-name: "com.graphhopper:graphhopper-reader-osm"
      # See issue #510
      - dependency-name: "com.github.jnr:jnr-ffi"
        versions: [ "2.2.13" ]
  - package-ecosystem: maven
    # workaround for non-standard pom.xml filename (https://github.com/dependabot/dependabot-core/issues/4425)
    directory: "/.github/planetiler-examples-dependabot"
    open-pull-requests-limit: 1
    schedule:
      interval: daily
      time: "04:30"
      timezone: America/New_York
    labels:
      - dependencies
    ignore:
      - dependency-name: "com.onthegomap.planetiler:*"
  - package-ecosystem: github-actions
    directory: "/"
    open-pull-requests-limit: 1
    schedule:
      interval: daily
      time: "04:30"
      timezone: America/New_York
    labels:
      - dependencies
