.DS_Store

target/
.flattened-pom.xml
*.jar
!.mvn/wrapper/*.jar
*.log

# idea
*/.idea
.idea/*
*.iml
!.idea/codeStyles
!.idea/vcs.xml
!.idea/eclipseCodeFormatter.xml

# eclipse
.classpath
.project
.settings
bin/

TODO

data/
